{% extends "layout.html" %}


{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">

            <select name="symbol" id="cars">
                {% for symbol in symbols %}
                    <option value="{{symbol}}">{{symbol}}</option>
                {% endfor %}

            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="number_of_stocks" name="number_of_stocks" placeholder="Enter number of stocks" type="integer">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}